certifi==2023.7.22
charset-normalizer==3.3.2
cloudpickle==3.0.0
gym==0.26.2
gym-notices==0.0.8
hmmlearn==0.3.0
idna==3.4
importlib-metadata==6.8.0
joblib==1.3.2
numpy==1.24.4
pandas==2.0.3
pyBKT==1.4.1
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
scikit-learn==1.3.2
scipy==1.10.1
six==1.16.0
threadpoolctl==3.2.0
tzdata==2023.3
urllib3==2.1.0
zipp==3.17.0
